@import "variables";


/* =Basic structure
-------------------------------------------------------------- */

h1,h2,h3,h4 {
  color: $night-font;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 0.6em;
  color: $color-brand;
}

h2 {
  margin: 1.5em 0 0.75em;
  font-size: 1.75em;
  line-height: 1.2;
  font-weight: bold;
}

h3 {
  margin: 1.75em 0 1em;
  font-size: 1.5em;
  line-height: 1.25;
}

h4 {
  margin: 0 0 0.75em;
  font-size: 1.2em;
  line-height: 1.2;
}
ul,ol,p {
  color: $night-para;
}
strong {
  color: #fff;
}

.story p {
  margin-bottom: 1em;
}

@include device(mobile) {
  .home h1 {
    max-width: 240px;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 2.5em;    
  }
  .home h1 {
    max-width: 300px;
  }
}

@include device(tablet) {
  h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
  }
  .home h1 {
    margin-bottom: 0.5em;
    max-width: none;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }
}

@include device(laptop) {
  h1 {
    font-size: 4em;
  }
}


a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header {
  padding-bottom: 2em;
  .site {
    padding-top: 1.75em;
    @include device(phablet) {
      padding-top: 4em;
    }
  }
}

.darklogo {
  display: none;
}

.masked {
  background-color: $color-brand;
  border-radius: 2px;
  padding: 4px 6px;
  color: $night;
  display: inline-block;
  margin-bottom: 2em;
  font-size: 10px;
}

