
@import "variables";

.site {
	max-width: $sitewidth;
	margin: auto;
	padding: 1em;
	header {
		max-width: 700px;
	}
}

.footer {
	clear: both;
	background: #000;
	min-height: 100px;
	margin-top: 2em;
}

@include device(tablet) {
	.site {
		padding: 2em;
	}
	.card {
		float: left;
		width: 47%;
		margin-right: 3%;
		min-height: 320px;
		&:nth-child(even) {
      margin-right: 0;
    }
	}
}

@include device(laptop) {
	.site {
		padding: 2em;
	}
	.card {
		float: left;
		width: 31%;
		margin-right: 3.5%;
		&:nth-child(even) {
      margin-right: 3.5%;
    }
		&:nth-child(3n+3) {
      margin-right: 0;
    }
	}
}

