@import "variables";

#app {
  min-height: 500px;
  background: url(/images/loading.gif) no-repeat 50%;
  background-size: 80px auto;
  display: block;
}

.link {
  border-bottom: 1px dotted #fff;
  &:hover {
    border: none;
  }
}

.nav {
  padding: 1em 1em 0;
  label {
    background-color: transparent;
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    select {
      -webkit-appearance: none;
      background: transparent;
      font-size: 16px;
      border: none;
      color: $color-brand;
      padding: 14px 12px 14px 20px;
    }
    input[type="checkbox"] {
      height: 18px;
      width: 18px;
      margin: 0 4px 0 0;
      float: left;
      border-radius: 3px;
      border: none;
      box-shadow: none;
    }
  }
  .relocate {
    width: 32%;
    span {
      display: inline;
    }
  }
  @include device(tablet) {
    float: right;
    padding: 0;
    label {
      border: 2px solid $color-brand;
      border-radius: 50px;
      font-size: 1em;
      color: $color-brand;
      margin-left: 1em;
      width: auto;
      float: left;
      padding-left: 10px;
      max-width: 200px;
    }
    select {
      font-size: 16px;
    }
    .relocate {
      padding: 13px 20px;
      width: auto;
      span {
        font-size: 1em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @include device(mobile) {
    padding: 0;
    position: fixed;
    bottom: 24px;
    left: 0;
    width: 100%;
    .container {
      min-height: 52px;
      background: $color-brand;
      border-radius: 40px;
      margin: 0 2em;
      padding: 4px 0;
      box-shadow: 0 0 20px #000;
      select,
      label {
        color: #fff;
        min-height: 28px;
      }
    }
  }
}

.card {
  box-shadow: 0 4px 12px #1b1b1b;
  padding: 1em;
  border-radius: 16px;
  margin-top: 1em;
  background: #000;
  figure {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    float: right;
    width: 110px;
    height: 110px;
    margin-left: 1em;
    background: url(/images/avatar.png) no-repeat;
    background-size: cover;
    img {
      min-height: 110px;
      min-width: 110px;
    }
  }
  @include device(tablet) {
    margin-top: 3em;
    padding: 1.5em;
    figure {
      width: 130px;
      height: auto;
      max-height: 130px;
    }
  }
  aside {
    p {
      margin-bottom: 1em;
    }
    strong {
      display: block;
      font-size: 1.5em;
      margin: 0.25em 0 0.5em;
      @include device(tablet) {
        font-size: 1.75em;
      }
    }
    em {
      font-style: normal;
      font-weight: bold;
      margin-bottom: 0.25em;
      display: block;
    }
    .desc,
    .superpower {
      font-size: 0.75em;
    }
    .city {
      margin-bottom: 10px;
      margin-right: 6px;
      font-size: 0.875em;
    }
    .relocate {
      background: url(/images/relocate.png) no-repeat 3px 50%;
      background-size: 10px auto;
      font-size: 9px;
      display: inline-block;
      margin: -3px 0 1em 0;
      background-color: $color-brand;
      border-radius: 2px;
      padding: 2px 4px 1px 16px;
      color: #fff;
      text-transform: uppercase;
      /* Remove the background */
      background: $color-brand;
      padding-left: 4px;
    }

    @include device(tablet) {
      .desc {
        max-height: 40px;
        overflow: hidden;
      }
    }
  }
  .links {
    list-style: none;
    margin: 0;
    li {
      padding: 0;
      width: 50%;
      float: left;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: 0 50%;
      z-index: 99;
      a {
        display: inline-block;
        padding: 10px 16px 10px 26px;
        font-weight: bold;
        color: $color-brand;
      }
      a:hover {
        color: #fff;
      }
      em {
        font-style: normal;
      }
    }
    .github {
      background-image: url(/images/github.png);
    }
    .linkedin {
      background-image: url(/images/linkedin.png);
      background-position: 0 7px;
    }
    .twitter {
      background-image: url(/images/twitter.png);
    }
    .website {
      background-image: url(/images/website.png);
    }
    .instagram {
      background-image: url(/images/instagram.png);
    }
  }
}



