@import "../variables";

.app {
  min-height: 500px;
  background: url(/images/loading.gif) no-repeat 50%;
  background-size: 80px auto;

  display: grid;
  grid-gap: 1rem;

  @include device(tablet) {
    margin-top: 2rem;
    grid-gap: 2rem;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include device(laptop) {
    margin-top: 2.5rem;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  border-bottom: 1px dotted #fff;
  &:hover {
    border: none;
  }
}

.nav {
  padding: 1em 1em 0;
  label {
    background-color: transparent;
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    select {
      -webkit-appearance: none;
      background: transparent;
      font-size: 16px;
      border: none;
      color: $color-brand;
      padding: 14px 12px 14px 20px;
    }
    input[type="checkbox"] {
      height: 18px;
      width: 18px;
      margin: 0 4px 0 0;
      float: left;
      border-radius: 3px;
      border: none;
      box-shadow: none;
    }
  }
  .relocate {
    width: 32%;
    span {
      display: inline;
    }
  }
  @include device(tablet) {
    float: right;
    padding: 0;
    label {
      border: 2px solid $color-brand;
      border-radius: 50px;
      font-size: 1em;
      color: $color-brand;
      margin-left: 1em;
      width: auto;
      float: left;
      padding-left: 10px;
      max-width: 200px;
    }
    select {
      font-size: 16px;
    }
    .relocate {
      padding: 13px 20px;
      width: auto;
      span {
        font-size: 1em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @include device(mobile) {
    padding: 0;
    position: fixed;
    bottom: 24px;
    left: 0;
    width: 100%;
    .container {
      min-height: 52px;
      background: $color-brand;
      border-radius: 40px;
      margin: 0 2em;
      padding: 4px 0;
      box-shadow: 0 0 20px #000;
      select,
      label {
        color: #fff;
        min-height: 28px;
      }
    }
  }
}
