@import "../variables";

.app {
  min-height: 500px;
  background: url(/images/loading.gif) no-repeat 50%;
  background-size: 80px auto;

  display: grid;
  grid-gap: 1rem;

  @include device(tablet) {
    margin-top: 2rem;
    grid-gap: 2rem;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include device(desktop) {
    margin-top: 2.5rem;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  border-bottom: 1px dotted #fff;
  &:hover {
    border: none;
  }
}

.search {
  @include device(desktop) {
    padding-top: 3em;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }

  .search-desc {
    padding-top: 2rem;

    @include device(desktop) {
      padding-top: 0;
      flex-grow: 1;
    }

    h2 {
      margin-bottom: 0.75em;
    }
  }
}

.nav {
  display: flex;
  padding: 0 1em;

  @include device(mobile) {
    height: 56px;
    position: fixed;
    bottom: 24px;
    left: 0;
    width: calc(100% - 2em);
    margin: 0 1em;
    background: $color-brand;
    border-radius: 3em;
    box-shadow: 0 0 20px #000;
    padding: 0;
  }

  @include device(tablet) {
    padding: 2em 0 0 0;
  }

  @include device(desktop) {
    padding: 0;
    justify-content: flex-end;
  }

  .container {
    display: flex;

    @include device(mobile) {
      align-items: stretch;
      padding: 0 1rem;
    }
  }

  label {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
    display: flex;
    align-items: center;
    color: $color-brand;
    position: relative;

    &:last-child {
      &::after {
        content: none;
      }
    }

    @include device(mobile) {
      color: #fff;
    }

    @include device(oldmobile) {
      // So "All Locations" doesn't get cut off on small phones
      &:first-child {
        min-width: 100px;
      }
      &:nth-child(2) {
        max-width: 75px;
      }
      &:last-child {
        min-width: 90px;
      }
    }

    @include device(tablet) {
      min-width: auto;
      flex: 0 0 auto;
    }
  }

  .select {
    margin-right: 0.5rem;
    min-height: 50px;
    min-width: 100px;

    &::after {
      content: "";
      position: absolute;
      right: 1em;
      top: calc(50% - 2px);
      width: 0px;
      height: 0px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $color-brand;
    }

    @include device(mobile) {
      min-width: 0;
      border: none;
      border-radius: 0;
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    @include device(tablet) {
      border: 2px solid $color-brand;
      border-radius: 56px;
      margin-right: 1rem;
      min-height: 50px;
      min-width: 100px;

      &::after {
        right: 2.5em;
      }
    }
  }

  select {
    -webkit-appearance: none;
    background: transparent;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: 1em 0;
    color: $color-brand;

    @include device(mobile) {
      color: #fff;
      padding: 1.1875em 0;
    }

    @include device(tablet) {
      padding: 1em 1.5em;
    }
  }

  .relocate {
    display: flex;
    @include device(tablet) {
      padding: 1em 1.5rem;
      border: 2px solid $color-brand;
      border-radius: 56px;
    }

    span {
      @include device(tablet) {
        margin-left: .5em;
      } 
    }
  }
}
